{% extends 'base.html.twig' %}

{% block title %}New Member{% endblock %}

{% block body %}


    <div class="col-lg-4 col-md-6 col-sm-8 mx-auto">

        <h1>Member Registration</h1>
        {{ include('member/_form.html.twig') }}
    </div>

{% endblock %}
