{% extends 'base.html.twig' %}
{% block body %}

<p>Enter your email address to start your password recovery</p>
    <form action="{{ path('recover_password') }}" autocomplete="off">
        <div>
            <label for="email">Email</label>
            <input type="text" name="email" id="email">
        </div>
        <div>
            <button type="submit">Reset</button>
            {#<input type="submit" value="Request reset">#}
        </div>
    </form>

{% endblock %}