{% extends 'base.html.twig' %}

{% block title %}SuggestedShow index{% endblock %}

{% block body %}
    <h1 id="suggestTitle">Suggested Shows</h1>

    {% if suggested_shows is not empty %}
        <table class="table">
            <thead>
                <tr>
                    <th>SuggestedTitle</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for suggested_show in suggested_shows %}
                <tr>
                    <td>{{ suggested_show.suggestedTitle }}</td>
                    <td>
                        {{ include('suggested_show/_delete_form.html.twig') }}
                    </td>

                </tr>
            {% endfor %}

            </tbody>
        </table>
    {% else %}
        <h4>There are no suggested shows at this time.</h4>
    {% endif %}


{% endblock %}
